$textColor: #070823;
$backgroundColor: #FCFAF5;
$sectionColor: #E7EDFA;
$deepButtonColor: #114975;
$tabColorTop: linear-gradient(80deg, #114975, #10436A, #0C1B26, #08131C 88%);
$tabColorLeft: linear-gradient(0deg, #114975, #10436A, #0C1B26, #08131C 88%);
$border: 1px solid black;
$wildPadding: 0.6em;
