@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'B612', sans-serif;
  color: #070823;
}

#container {
  width: 100vw;
  height: 100vh;
  background: #FCFAF5;
  position: relative;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage-content {
  width: 48%;
  height: 80%;
  margin: auto;
  padding: 10px;
}

.homepage-content .dropoff {
  font-size: 4.4em;
  font-weight: 500;
}

.homepage-form {
  width: 48%;
  height: 80%;
  margin: auto;
  padding: 10px;
}

.form {
  background: #E7EDFA;
  width: 60%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
  padding: 1.5em;
}

.email, .password {
  width: 100%;
  height: 6vh;
  margin-top: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #070823;
  padding: 0.8em 0.4em 0.4em 0.4em;
  background: transparent;
}

input[type=text]:focus {
  outline: 2px solid #9ce5f1;
}

.submit {
  background: #070823;
  color: #FCFAF5;
  width: 100%;
  height: 6vh;
  font-size: 1.25em;
  text-transform: uppercase;
  border-radius: 8px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 3em;
  margin-bottom: 0.5em;
  padding: 0.6rem;
}

.forgot-password {
  display: inline-block;
  color: #070823;
  font-size: 0.88em;
  line-height: 1.3em;
  margin-left: 9em;
}

#form-hr {
  margin-top: 5em;
  margin-bottom: 1em;
}

.create-account {
  background: #FCFAF5;
  color: #070823;
  width: 100%;
  height: 6vh;
  font-size: 1.25em;
  text-transform: uppercase;
  border-radius: 8px;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
}

#user-container {
  width: 100vw;
  height: 100vh;
  background: #FCFAF5;
  position: relative;
}

.top-nav {
  width: 94%;
  height: 10vh;
  background-image: linear-gradient(80deg, #114975, #10436A, #0C1B26, #08131C 88%);
  float: right;
  position: relative;
  padding: 1em;
}

.side-nav {
  width: 6%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#114975), color-stop(#10436A), color-stop(#0C1B26), color-stop(88%, #08131C));
  background-image: linear-gradient(0deg, #114975, #10436A, #0C1B26, #08131C 88%);
  position: relative;
}

.search-bar {
  width: 30vw;
  height: 5vh;
  position: absolute;
  top: 25%;
  left: 30%;
  opacity: 0.74;
  padding: 0.8em;
  font-size: 0.75em;
  line-height: 1.5em;
}

.user-initials {
  width: 3.5vw;
  height: 7.5vh;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 5%;
  opacity: 0.8;
  color: #070823;
  text-transform: uppercase;
  text-align: center;
  padding: 0.7em;
  font-size: 1.2em;
}

.menu-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  width: 100%;
  height: 10vh;
  padding: 0.6em 1em;
  margin-bottom: 1em;
  color: #FCFAF5;
  cursor: pointer;
}

.menu:hover {
  opacity: 0.5;
}

.menu-icon .fal {
  font-size: 1.6em;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}

.menu-title {
  font-size: 0.8em;
}

.menu-title.files {
  margin-left: 0.7em;
}

.active {
  color: #070823;
  background: #FCFAF5;
}

#user-page {
  width: 94%;
  height: 90vh;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 2em;
}

.heading {
  font-size: 1.5em;
  font-weight: 500;
}

#user-hr {
  margin-top: 0.3em;
}

.port-btn {
  display: inline-block;
  background: #114975;
  color: #FCFAF5;
  font-size: 0.75em;
  border-radius: 0.6em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6em;
  margin: 1em 2em 0 0;
  cursor: pointer;
}

.pop-up {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  display: none;
}

.close-icon {
  float: right;
  font-size: 1.5em;
  color: #070823;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.create-form {
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 20%;
  left: 45%;
  -webkit-transform: translate(-45%, -20%);
          transform: translate(-45%, -20%);
  z-index: 2;
  display: block;
}

.portfolio-create {
  width: 100%;
  height: 100%;
  background: #E7EDFA;
  padding: 1em;
  border-radius: 10px;
}

#lbl-name {
  margin-top: 3em;
  display: inline-block;
}

#portfolio-name {
  width: 100%;
  height: 4vh;
  display: block;
  padding: 5px;
  margin-top: 1em;
}

#portfolio-type {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  margin-left: 1em;
}

#lbl-accounting {
  margin-left: 0.6em;
  font-size: 0.8em;
}

.portfoilo-container {
  margin-top: 3em;
}

.portfolio-elements {
  padding: 0.1em 0.6em;
  position: relative;
}

.elements {
  display: inline-block;
  font-size: 0.8em;
}

.storage {
  position: absolute;
  left: 40%;
}

.portfolio-item {
  padding: 0.6em;
  background: #E7EDFA;
  margin-bottom: 0.3rem;
  font-size: 0.9em;
  position: relative;
}

.portfolio-item-name {
  display: inline-block;
}

.portfolio-item-storage {
  display: inline-block;
  position: absolute;
  left: 40%;
  font-size: 0.8em;
}

.trash {
  width: 1.5vw;
  border: 1px solid #cfd3d6;
  height: 3vh;
  padding: 0 0.4em;
  position: absolute;
  top: 20%;
  right: 2%;
  bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

.trash > .fa-trash {
  color: #070823;
  margin: auto;
  font-size: 0.8em;
}

#entries-page {
  width: 94%;
  height: 90vh;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 2em;
}

.return {
  opacity: 0.5;
  margin-bottom: 0.6em;
  cursor: pointer;
}

.return a {
  text-decoration: none;
  color: #070823;
}

a > .fa-long-arrow-left {
  margin-right: 0.5em;
}

.update-entry {
  float: right;
  margin-right: 5em;
}

.delete-entry {
  float: right;
}
/*# sourceMappingURL=style.css.map */